/*.app-container{
    width: 700px;
    padding: 10px;
}*/
.sign-out button{
    padding: 20px;
   
    color: black;
    font-size: larger;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.596);
    border: none;

}
.sign-out button:hover{
    position: relative;
    top: -5px;
    background-color: black;
    cursor: pointer;
    color: white;
}
